Repository zurichat/zc_plugin_reminder, pull requests merged in 2021-09, with the labels that each got.

#190 Setup express
  .eslintrc.js
  src/routes/index.js
  src/shared/http/server.js
Labels: Pending Review

#298 Switch tabs
  frontend/.eslintrc.js
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/deadlineStatus/index.jsx
  frontend/src/deadlineStatus/tabSwitcher/Tab.jsx
  frontend/src/deadlineStatus/tabSwitcher/TabNav.jsx
  frontend/src/deadlineStatus/tabSwitcher/index.jsx
  frontend/yarn.lock
  package.json
  yarn.lock
Labels: Frontend, Tests Pending

#308 [Tests] Fixes #298 add tests for deadlineStatus components
  frontend/src/deadlineStatus/tabSwitcher/TabNav.jsx
  frontend/src/deadlineStatus/tabSwitcher/__test__/Tab.test.jsx
  frontend/src/deadlineStatus/tabSwitcher/__test__/TabNav.test.jsx
  frontend/src/deadlineStatus/tabSwitcher/__test__/index.test.jsx
  frontend/src/layout/index.jsx
Labels: Pending Review, Frontend

#266 added Required property error class
  src/shared/errors/ErrorClass.js
Labels: Backend

#310 [get all reminders]: Fixes #232 add route to get all reminders
  .env.example
  .gitignore
  package.json
  src/config/environment/index.js
  src/controllers/reminder.controller.js
  src/db/index.js
  src/routes/index.js
  src/utils/constant.js
  src/utils/response.handler.js
  tests/reminders.spec.js
  yarn.lock
Labels: Backend

#292 Due date picker
  .gitignore
  frontend/src/components/newDeadline/dueDate/__test__/index.test.jsx
  frontend/src/components/newDeadline/dueDate/index.jsx
  frontend/yarn.lock
  package.json
  yarn.lock
Labels: Frontend, Changes Required

#306 [Start Date]: Fixes #244 Create start date
  frontend/src/assets/img/svg/start-date.svg
  frontend/src/deadlineStatus/StartingDate.jsx
Labels: Frontend, Changes Required

#279 [Modal]: Closes #215 created Save Deadline button
  frontend/src/components/newDeadline/save-deadline-button.jsx
Labels: Frontend, Changes Required

#289 Whiteboard #286, Main Page Layout #195
  frontend/src/App.jsx
  frontend/src/layout/index.jsx
Labels: Frontend, Changes Required

#303 due date component created with date component
  frontend/src/assets/img/svg/calender.svg
  frontend/src/assets/img/svg/remaining.svg
  frontend/src/deadlineList/components/date/Date.jsx
  frontend/src/deadlineList/components/date/DueDate.jsx
  frontend/src/deadlineList/components/date/RemainingTime.jsx
  frontend/src/deadlineList/components/date/StartDate.jsx
  frontend/src/deadlineList/index.jsx
Labels: Frontend, Changes Required

#318 Find reminder by ID
  src/config/environment/index.js
  src/db/index.js
Labels: Backend

#259 added get reminders function
  frontend/package-lock.json
  package-lock.json
  src/controllers/reminder.controller.js
  src/routes/index.js
Labels: Pending Review, Backend

#264 [src/db/index]: (Fixes #234) A User can create a Reminder
  src/controllers/reminder.controller.js
  src/db/index.js
  src/index.js
  src/models/reminder.model.js
  src/routes/index.js
  src/validations/common.js
Labels: Backend

#309 Container Design
  frontend/src/deadlineList/components/date/Date.jsx
  frontend/src/deadlineList/components/date/DueDate.jsx
  frontend/src/deadlineList/components/date/StartDate.jsx
  frontend/src/deadlineList/index.jsx
  frontend/src/deadlineList/listCard.jsx
  frontend/src/layout/index.jsx
  frontend/tailwind.config.js
  package.json
  src/controllers/reminder.controller.js
  src/routes/index.js
  yarn.lock
Labels: Frontend, Changes Required

#336 [Tests] Closes #333 add tests for deadline listing date components
  frontend/src/deadlineList/__test__/Date.test.jsx
  frontend/src/deadlineList/__test__/DueDate.test.jsx
  frontend/src/deadlineList/__test__/RemainingTime.test.jsx
  frontend/src/deadlineList/__test__/StartDate.test.jsx
Labels: Frontend

#337 Fixes Issue #195 and #289
  frontend/src/layout/index.jsx
  frontend/tailwind.config.js
Labels: Pending Review, Frontend

#340 [sortbar] : Fixes #200 Add view sort bar.
  frontend/package.json
  frontend/src/layout/nav.jsx
  frontend/src/layout/nav/index.jsx
  frontend/src/layout/nav/sortbar.jsx
  frontend/yarn.lock
Labels: Pending Review, Frontend

#327 added update.db.function
  src/db/index.js
  tests/db.spec.js
  tests/index.js
Labels: Backend

#324 Search route fixes #260 add route to get reminder by query
  babel.config.js
  jsconfig.json
  src/controllers/reminder.controller.js
  src/sockets/index.js
Labels: Backend

#346 [UpcomingReminders]: Closes #345 users can view upcoming reminders
  .gitignore
  src/controllers/reminder.controller.js
  src/routes/index.js
  src/utils/fake.reminder.js
Labels: Backend

#293 Added the delete reminder function
  package.json
  src/controllers/reminder.controller.js
  src/routes/index.js
  tests/deleteReminder.spec.js
Labels: Backend

#347 Compiled the code structure for deadlineStatus
  frontend/src/deadlineStatus/tabSwitcher/CompletedCard.jsx
  frontend/src/deadlineStatus/tabSwitcher/OverdueCard.jsx
  frontend/src/deadlineStatus/tabSwitcher/TabNav.jsx
  frontend/src/deadlineStatus/tabSwitcher/index.jsx
  frontend/src/deadlineStatus/tabSwitcher/png/date.png
  frontend/src/deadlineStatus/tabSwitcher/png/time.png
  frontend/src/deadlineStatus/tabSwitcher/png/users.png
Labels: Frontend, Tests Pending

#332 [searchinput] : Fixes #258 Add typing functionality.
  frontend/src/layout/nav/index.jsx
  frontend/src/layout/nav/searchbar.jsx
  frontend/src/layout/nav/sortbar.jsx
  package.json
  tests/index.js
  yarn.lock
Labels: Frontend, Changes Required

#322 Reuseable dialog
  frontend/src/components/modal/index.jsx
  frontend/tailwind.config.js
  yarn-error.log
Labels: Frontend, Changes Required

#329 Display Title
  frontend/src/deadlineList/components/DeadlineTitle.jsx
  frontend/src/deadlineList/components/date/DueDate.jsx
  frontend/src/deadlineList/components/date/StartDate.jsx
  frontend/src/deadlineList/index.jsx
  frontend/src/deadlineList/listCard.jsx
  frontend/tailwind.config.js
Labels: Frontend, Changes Required

#339 #206 view date picker for task starting date
  frontend/src/components/datePicker/index.jsx
  frontend/src/components/datePicker/styles/style.css
Labels: Frontend, Changes Required

#341 Closes #194 View Text Input for the Assignee
  frontend/src/components/newDeadline/AssigneeInput.jsx
  frontend/src/index.css
Labels: Frontend, Changes Required

#319 [text-area]: fixes #193 add text-area]
  frontend/src/components/newDeadline/text-area.jsx
Labels: Frontend, Changes Required

#323 #203 Display Avatar of users assigned to a task
  frontend/src/assets/img/png/avatar1.png
  frontend/src/assets/img/png/avatar2.png
  frontend/src/assets/img/png/avatar3.png
  frontend/src/deadlineList/userAvatar.jsx
Labels: Frontend, Changes Required

#348 [NewDeadline] Deadline Title
  frontend/src/components/newDeadline/components/AssigneeInput.jsx
  frontend/src/components/newDeadline/components/Dropdown.jsx
  frontend/src/components/newDeadline/components/deadlineTitle.jsx
  frontend/src/components/newDeadline/components/save-deadline-button.jsx
  frontend/src/components/newDeadline/components/text-area.jsx
Labels: Frontend, Changes Required

#350 [TextDescription]: Fixes #193 Add text-area
  .eslintrc.json
  frontend/src/components/modal/index.jsx
  frontend/src/deadlineList/TextDescription.jsx
  frontend/src/deadlineList/components/date/Date.jsx
  frontend/src/deadlineList/components/date/RemainingTime.jsx
  frontend/src/deadlineList/listCard.jsx
  frontend/src/deadlineList/userAvatar.jsx
  frontend/src/deadlineStatus/components/date/Date.jsx
  frontend/src/deadlineStatus/components/date/DueDate.jsx
  frontend/src/deadlineStatus/statusListCard.jsx
  package.json
  yarn.lock
Labels: Frontend, Changes Required

#365 Create a Unique Constraint error class
  Backend/yarn.lock
  src/controllers/conflictError.controller.js
  src/routes/index.js
  src/shared/errors/ErrorClass.js
Labels: Backend

#361 [tests] fix and add new tests
  src/config/environment/index.js
  src/controllers/reminder.controller.js
  src/db/index.js
  src/routes/index.js
  src/validations/common.js
  tests/db.spec.js
  tests/dbfunction.spec.js
  tests/deleteReminder.spec.js
  tests/index.js
  tests/reminders.spec.js
Labels: Backend

#380 Added testing route for my merged pr on issue #174
  src/routes/index.js
Labels: Backend

#381 Reminder toggle: Fixed #221 created a reminder toggle
  frontend/src/components/newDeadline/components/reminder-toggle.jsx
Labels: Frontend

#363 Created the Modal Form for a New Deadline
  frontend/src/App.jsx
  frontend/src/components/modal/index.jsx
  frontend/src/components/newDeadline/Dropdown.jsx
  frontend/src/components/newDeadline/__test__/index.test.jsx
  frontend/src/components/newDeadline/index.jsx
  frontend/src/components/newDeadline/modalForm.jsx
  frontend/src/context/ModalContext.jsx
  frontend/src/deadlineList/listCard.jsx
  frontend/src/layout/nav/button.jsx
Labels: Frontend, Changes Required

#379 Search Route #260
  package-lock.json
  src/config/environment/index.js
  src/controllers/reminder.controller.js
  src/routes/index.js
Labels: Backend, Changes Required

#397 API layer
  frontend/package-lock.json
  frontend/package.json
  frontend/public/manifest.json
  frontend/src/App.jsx
  frontend/src/__test__/App.test.jsx
  frontend/src/deadlineList/__compat__/DeadlineReminderCard.jsx
  frontend/src/deadlineList/components/TextDescription.jsx
  frontend/src/deadlineList/components/date/DueDate.jsx
  frontend/src/deadlineList/components/date/RemainingTime.jsx
  frontend/src/deadlineList/components/date/StartDate.jsx
  frontend/src/deadlineList/components/listCard.jsx
  frontend/src/deadlineList/components/userAvatar.jsx
  frontend/src/deadlineList/index.jsx
  frontend/src/deadlineStatus/components/date/DueDate.jsx
  frontend/src/deadlineStatus/components/date/RemainingTime.jsx
  frontend/src/deadlineStatus/components/date/StartDate.jsx
  frontend/src/deadlineStatus/components/statusListCard.jsx
  frontend/src/deadlineStatus/index.jsx
  frontend/src/deadlineStatus/statusListCard.jsx
  frontend/src/deadlineStatus/tabSwitcher/index.jsx
  frontend/src/layout/index.jsx
  frontend/src/layout/nav/index.jsx
  frontend/yarn.lock
  package.json
  yarn.lock
Labels: Frontend

#265 [setDeadline]: fixes #228 added setDeadline function
  .eslintrc.js
  index.js
  src/controllers/reminder.controller.js
  src/routes/index.js
  src/sockets/index.js
  src/utils/fake.reminder.js
  src/utils/response.handler.js
  tests/deadlines.spec.js
  tests/reminders.spec.js
Labels: Backend

#377 Added update data function
  src/controllers/reminder.controller.js
  src/db/index.js
  src/routes/index.js
Labels: Backend, Changes Required

#411 [jobScheduler]: Fixes #44 Setup Job to send notifications
  package.json
  src/controllers/reminder.controller.js
  src/routes/index.js
  yarn.lock
Labels: Backend

#434 Base socket listener
  frontend/src/api/sockets/main.js
Labels: Frontend
